<div class="allwrapper">

  <%= render "shared/new_header" %>

  <div class="new-main-container">
    <%#= render "shared/main_sub" %>

    <%# new action %>
    <% if params[:action] == "new" || "create" %>
      <%= form_with model: @article, url: articles_path(current_user), local: true do |f| %>

      <%# エラー発生時の表示 %>
      <%= render 'shared/error_messages', model: @article %>

      <div class="new-top-content">
        <%= f.text_field :title, autofocus: true, class:"article-title", placeholder:"タイトル (30文字以内)" %>
        <%#= f.text_field :title, autofocus: true, autocomplete: "title", placeholder:"タイトル" %>
      </div>
      <div class="new-mid-content">
        <%= f.text_field :tag_ids, class:"article-tag", placeholder:"タグ" %>
      </div>
      <div class="new-bottom-out-content">
        <div class="new-bottom-in-content">
          <div class="new-main-left-content">
            <%#= f.label "本文" %>
            <%#= f.text_area :body %>
            <%= f.text_area :body, { id: "editor", placeholder: "本文" } %>
          </div>
        </div>     
      </div>
      <div class="new-footer-content">
          <div class="new-footer-left-content">
          </div>
          <div class="new-footer-right-content">
            <%= f.submit "投稿する", class:"new-article-submit-btn" %>
            <% end %>
          </div>
      </div>      

    <%# edit, destroy action %>  
    <% else %>
      <%= form_with model: @article, url: article_path, local: true do |f| %>

      <%# エラー発生時の表示 %>
      <%= render 'shared/error_messages', model: @article %>

      <div class="new-top-content">
        <%= f.text_field :title, autofocus: true, class:"article-title", placeholder:"タイトル" %>
        <%#= f.text_field :title, autofocus: true, autocomplete: "title", placeholder:"タイトル" %>
      </div>
      <div class="new-mid-content">
        <%= f.text_field :hoge, class:"article-tag", placeholder:"タグ" %>
      </div>
      <div class="new-bottom-out-content">
        <div class="new-bottom-in-content">
          <div class="new-main-left-content">
            <%#= f.label "本文" %>
            <%#= f.text_area :body %>
            <%= f.text_area :body, { id: "editor", placeholder: "本文" } %>
          </div>
        </div>     
      </div>
      <div class="new-footer-content">
          <div class="new-footer-left-content">
          </div>
          <div class="new-footer-right-content">
            <%= f.submit "編集する", class:"new-article-submit-btn" %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>

  <%= render "shared/footer" %>

</div>