<!DOCTYPE html>
<html>
  <head>
    <title>TWIQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>          <%# markdown対応 %>
    <%= javascript_pack_tag 'application' %>                        <%# markdown対応 %>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
